{{> navigation}}

<div class="dashboard">
    <div class="container-fluid">
        <div class="row">
            {{> sideNav}}
           <!--- <div id="dashboardContent" class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
                <div id="user-pad" class="col-md-6">
                    <h3>Name: {{capitalize user.name}}</h3>
                    <h3><i class="fa fa-envelope"></i> Email: {{user.email}}</h3>
                    <p>Job Title: {{user.jobtitle}}</p>
                    <p>
                    
                </div>
                <div id="user-image" class="col-md-6">
                    {{#if user.photo.length}}
                       <img class="img-responsive thumbnail profile"src="{{user.photo}}">
                    {{else}}
                        <img class="img-responsive thumbnail profile"src="http://www.freeiconspng.com/uploads/profile-icon-9.png">
                    {{/if}}
                </div>
            </div>--->
            <div id="dashboardContent" class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
                <h2 class="topHeader">User Profile</h2>
                <div id="user-image" class="col-md-4">
                    {{#if user.photo.length}}
                       <img class="img-responsive thumbnail profile"src="{{user.photo}}">
                    {{else}}
                        <img class="circle img-responsive thumbnail profile"src="http://www.freeiconspng.com/uploads/profile-icon-9.png">
                    {{/if}}
                </div>
                <div id="user-pad" class="col-md-8">
                    <h2>{{capitalize user.name}}
                        {{#equal user.gender "Female"}} 
                            <i class="fa fa-female"></i>
                        {{else}}
                            <i class="fa fa-male"></i>
                        {{/equal}}
                    </h2> 
                    <h3>{{user.jobtitle}}</h3>
                    <br>
                    <ul class="profileList">
                        <li><i class="fa fa-building"></i> Department: {{user.dept}}</li>
                        <li><i class="fa fa-map-marker"></i> Location: {{user.location}}</li>
                        <li><i class="fa fa-envelope"></i> Email: {{user.email}}</li>
                    </ul>
                    <a href="/users/edit/{{user.id}}">
                        <button type="button" class="event btn btn-default">Update Profile</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}



